<div class="hold-transition login-page ">
    <div class="login-box animated fadeIn">
        <div class="login-logo">
            <a [routerLink]="['/']" class="title"><b>SIGAP</b></a>
            <p class="slogan">SISTEMA INTEGRADO GEOGRÁFICO DE ADMINISTRACIÓN PÚBLICA</p>
          </div>
        <div class="card card-outline card-navy">
            <div class="card-body">
                <p class="login-box-msg text-justify">Introduzca la dirección de correo electrónico de su cuenta. Le enviaremos un enlace para restablecer su contraseña.</p>
                <form action="recover-password.html" method="post">
                    <div class="input-group mb-3">
                        <input type="email" class="form-control" placeholder="Email">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12  mb-2">
                            <button type="submit" class="btn btn-primary btn-block">Restablecer contraseña</button>
                        </div>
                        <div class="col-12 mb-1">
                            <button routerLink="/login" type="submit" class="btn btn-outline-info btn-block">Regresar a Login</button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>
            </div>
            <!-- /.login-card-body -->
        </div>
    </div>
</div>