<p-dialog header="Cambiar contraseña" [closeOnEscape]="false" [closable]="false" [(visible)]="display">
    <form [formGroup]="passwordForm" (submit)="savePassword()">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Contraseña actual: </label>
                    <input type="password" class="form-control" formControlName="currentPass" value="{{actualPassword}}">
                    <span class="error invalid-feedback">{{getErrorMessage('currentPass')}}</span>
                </div>
                <div class="form-group">
                    <label>Nueva contraseña: </label>
                    <input type="password" minlength="8" maxlength="16" [pattern]="pattern" class="form-control" [class.is-invalid]="isInvalidField('newPass')" formControlName="newPass" placeholder="">
                    <span class="error invalid-feedback">{{getErrorMessage('newPass')}}</span>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" [class.is-invalid]="isInvalidField('confirmPass')" formControlName="confirmPass" placeholder="">
                    <span class="error invalid-feedback">{{getErrorMessage('confirmPass')}}</span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="ribbon-wrapper-reverse card">
                    <div class="ribbon ribbon-bookmark ribbon-right ribbon-danger">Regla de contraseña</div>
                    <div class="form-text text-muted">
                        <span><strong>Tu nueva contraseña de cumplir con:</strong> </span>
                        <ul>
                            <li>Tener de 8 a 16 caracteres</li>
                            <li>Incluir una mayúscula, minúscula y un número</li>
                            <li>Puede contener caracteres especiales <i data-toggle="offcanvas" tooltipPosition="bottom" pTooltip="Son caracteres especiales: -_*?!@#$/(){}=.,;:" class="fa fa-info-circle"></i>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer justify-content-between pt-1 pb-1">
            <button type="button" class="btn btn-danger" (click)="closeModalPassword()">Cancelar</button>
            <button type="submit" class="btn btn-success">Cambiar contraseña</button>
        </div>

    </form>
</p-dialog>