<app-breadcrumbs #barBotones>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a routerLink="/dashboard">Home</a>
        </li>
        <li class="breadcrumb-item">Gerencial</li>
        <li class="breadcrumb-item active">Matriz de gestión</li>
    </ol>
</app-breadcrumbs>
<div class="row">
    <div class="col-12">
        <div class="box box-info">
            <div class="row mb-0">
                <div class="col-sm-12 pb-2">
                    <ngp-boton *ngIf="isPrint" (click)="subirArchivo()" icono="pi pi-upload" texto="Subir Matriz"></ngp-boton>
                    <ngp-boton [hidden]="!tienePermiso" (click)="abrirVisualizador()" icono="pi pi-print" color="info"
                        texto="Reporte avance proyecto">
                    </ngp-boton>
                </div>
            </div>
            <div class="card-body">
                <ngp-tabla #tabTabla1></ngp-tabla>
                <hr>
                <div class="row">
                    <div class="col-9">
                        <ngp-tabla #tabTabla2></ngp-tabla>
                    </div>
                    <div class="col-3 centrar">
                        <h4><strong>AVANCE PROYECTO :</strong> </h4>
                        <p-skeleton class="col-3 centrar" *ngIf="!isLoading" shape="circle" size="4rem"></p-skeleton>
                        <div *ngIf="isLoading">
                            <i *ngIf="semaforo==='verde'" class="fa fa-circle fa-5x text-success"></i>
                            <i *ngIf="semaforo==='amarillo'" class="fa fa-circle fa-5x text-warning"></i>
                            <i *ngIf="semaforo==='rojo'" class="fa fa-circle fa-5x text-danger"></i>
                            <i *ngIf="!semaforo" class="fa fa-circle fa-5x text-blue"></i>
                        </div>
                        <h5 class="mt-2"><strong>TOTAL: </strong> {{total}}</h5>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-12">
                        <ngp-tabla #tabTabla3></ngp-tabla>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-upload-archivo [(display)]="isOpenModal" (close)="closeDialogo($event)" (isSubido)="actualizarTabla($event)">
</app-upload-archivo>
<p-dialog header="Reporte" (onShow)="abriModal($event)" [breakpoints]="{'960px': '75vw', '640px': '100vw'}"
    [style]="{width: '800px'}" [closeOnEscape]="false" [(visible)]="isDibujarReporte" modal="true">
    <div id="pdf"> </div>
</p-dialog>