<app-breadcrumbs #barBotones>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a routerLink="/dashboard">Home</a>
        </li>
        <li class="breadcrumb-item">Gerencial</li>
        <li class="breadcrumb-item active">Objetivos</li>
    </ol>
</app-breadcrumbs>
<div class="row">
    <div class="col-12">
        <div class="box box-info">
            <div class="card-body">
                <ngp-tabla #tabTabla1></ngp-tabla>
                <hr>
                <ngp-tabla #tabTabla2></ngp-tabla>
            </div>
        </div>
    </div>
</div>