<p-dialog header="Subir archivo de matriz" [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '50vw'}" [closeOnEscape]="false" [(visible)]="display" (onHide)="closeModal()" modal="true">
    <p-messages severity="info">
        <ng-template pTemplate>
            <span class="p-inline-message-icon pi pi-info-circle" ng-reflect-ng-class="pi pi-info-circle"></span>
            <div class="p-ml-2">Tenga en cuenta que puede subir un archivo con las siguientes extensiones: <strong>*.xls;*.xlxs</strong></div>
        </ng-template>
    </p-messages>
    <p-fileUpload #upload name="myfile[]" customUpload="true" (uploadHandler)="onUpload($event)" (onUpload)="onUpload($event)" invalidFileTypeMessageDetail="Tipos de archivos permitidos: *.xls;*.xlxs" accept="application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
        maxFileSize="20000000" chooseLabel="Cargar archivo" uploadLabel="Subir achivo" uploadIcon="pi pi-send" cancelLabel="Limpiar">
        <ng-template pTemplate="content">
            <p-progressBar *ngIf="isProgress" mode="indeterminate" [style]="{'height': '15px'}"></p-progressBar>
            <p-messages severity="success" *ngIf="isUpload">
                <ng-template pTemplate>
                    <span class="p-inline-message-icon pi pi-check-circle" ng-reflect-ng-class="pi pi-check-circle"></span>
                    <div class="p-ml-2">El archivo <strong>{{tituloArchivo}}</strong> subido correctamente</div>
                </ng-template>
            </p-messages>
        </ng-template>
    </p-fileUpload>
</p-dialog>