<app-breadcrumbs #barBotones>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a routerLink="/dashboard">Home</a>
        </li>
        <li class="breadcrumb-item">Seguridad</li>
        <li class="breadcrumb-item active">Opciones</li>
    </ol>
</app-breadcrumbs>
<div class="row">
    <div class="col-3">
        <div class="card card-hover">
            <div class="card-header bg-info">
            </div>
            <div class="card-body">
                <ngp-arbol #arbArbol></ngp-arbol>
            </div>
        </div>
    </div>
    <div class="col-9">
        <div class="card card-hover">
            <div class="card-header bg-info">
            </div>
            <div class="card-body">
                <ngp-tabla #tabTabla1></ngp-tabla>
            </div>
        </div>
    </div>
</div>