<section class="content">
    <div class="error-box">
        <div class="error-body text-center">
            <h1>401</h1>
            <h3 class="text-uppercase">!Oops! ¡no tienes acceso a esta página!</h3>
            <p class="text-muted m-t-30 m-b-30">Esta página no está disponible públicamente para acceder a él.</p>
            <a [routerLink]="['/private/dashboard']" class="btn btn-info btn-rounded waves-effect waves-light m-b-40">Back to Dashboard</a> </div>
        <footer class="footer text-center">© {{ year }} Bussiness System.</footer>
    </div>
</section>