<div class="card-body">
    <form [formGroup]="passwordForm" (ngSubmit)="savePassword()" class="form-horizontal">
        <div class="form-body">
            <h3 class="box-title">Cambiar contraseña</h3>
            <hr class="m-t-0">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Contraseña actual: </label>
                        <input type="password" class="form-control" [class.is-invalid]="isInvalidField('contrasenaActual')" formControlName="contrasenaActual" placeholder="Contraseña actual">
                        <span class="error invalid-feedback">{{getErrorMessage('contrasenaActual')}}</span>
                    </div>
                    <div class="form-group">
                        <label>Nueva contraseña: </label>
                        <input type="password" maxlength="16" minlength="8" class="form-control" [class.is-invalid]="isInvalidField('nuevaContrasena')" [pattern]="pattern" formControlName="nuevaContrasena" placeholder="Nueva contraseña">
                        <span class="error invalid-feedback">{{getErrorMessage('nuevaContrasena')}}</span>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" [class.is-invalid]="isInvalidField('confirmarContrasena')" formControlName="confirmarContrasena" placeholder="Confirma nueva contraseña">
                        <span class="error invalid-feedback">{{getErrorMessage('confirmarContrasena')}}</span>
                    </div>
                </div>
                <div class="copl-md-6">
                    <div class="ribbon-wrapper-reverse card">
                        <div class="ribbon ribbon-bookmark ribbon-right ribbon-danger">Regla de contraseña</div>
                        <div class="form-text text-muted">
                            <span><strong>Tu nueva contraseña de cumplir con:</strong> </span>
                            <ul>
                                <li>Tener de 8 a 16 caracteres</li>
                                <li>Incluir una mayúscula, minúscula y un número</li>
                                <li>Puede contener caracteres especiales <i data-toggle="offcanvas" tooltipPosition="bottom" pTooltip="Son caracteres especiales: -_*?!@#$/(){}=.,;:" class="fa fa-info-circle"></i></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="form-actions">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-offset-3 col-md-12">
                            <button type="submit" class="btn btn-success float-right" [disabled]="!passwordForm.valid"><i class="fa fa-check"></i> Cambiar la contraseña</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>